*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
.main-container {
     display: flex;
     margin: 1rem auto 4rem;
     max-width: 70rem;
     box-sizing: content-box;
}
.content {
     background-color: #FFF;
     padding: 0px 1rem;
     width: 70%;
}
.content form .header h5 {
     background-color: #000;
     color: #FFF;
     padding: 15px 0px;
     border-radius: 10px 10px 0px 0px;
     -webkit-border-radius: 10px 10px 0px 0px;
     -moz-border-radius: 10px 10px 0px 0px;
     -ms-border-radius: 10px 10px 0px 0px;
     -o-border-radius: 10px 10px 0px 0px;
}
.content form {
     border-bottom: 2px solid #15CFE5;
     position: relative;
     border-radius: 20px ;
     -webkit-border-radius: 20px ;
     -moz-border-radius: 20px ;
     -ms-border-radius: 20px ;
     -o-border-radius: 20px ;
}

/* start form inputs */
.form-control {
     padding: 30px 20px;
     position: relative;
     border-bottom: 2px solid rgb(0, 255, 72);
}
.form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #F00;
     outline: 0;
     box-shadow: none !important;
}
.form-control::placeholder {

     text-transform: capitalize;
}
.form-control:focus::placeholder {
     font-size: 11px;
     position: absolute;
     top: 5px;
     transition: all 0.4s;
     -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
     -ms-transition: all 0.4s;
     -o-transition: all 0.4s;
}

.selector {
     border: 1px solid #ced4da;
     border-bottom: 2px solid rgb(0, 255, 72);
     border-radius: .25rem;
     width: 100%;
     padding: 20px;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     
}
.selector:focus {
     color: #000;
     background-color: #fff;
     border-color: #F00;
     outline: 0;
}

/* start counter button */
.ctr-btn {
     background-color: #0f0f0fdb;
     border-color: #96AFC3;
     outline: none;
     width: 300px;
     padding: 19px;
}
.ctr-btn:hover {
     background-color:#96AFC3;
     border-color: #96AFC3;
}
.ctr-btn:focus {
     background-color:#96AFC3;
     border-color: #96AFC3;
     box-shadow: 0px 0px 5px  #FFF;

}
.ctr-btn:active {
     background-color:#96AFC3 !important;
     border-color: #96AFC3 !important;
     box-shadow: 0px 0px 5px  #FFF;

}
.show-counter {
     background-color: rgb(0 0 0);
     width: 100%;
     padding: 20px;


}
.counter-inside {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     flex-wrap: wrap;
}
.btn-count {
     width: 30px;
     height: 30px;
     font-size: 1.5rem;
     line-height: 30px;
     border-radius: 10px;
     outline: none;
     border: none;
     color: #fff;
     cursor: pointer;
     background: transparent;
     box-shadow: inset -2px -2px 2px rgb(255 255 255 / 20%), inset 2px 5px 15px rgb(0 0 0 / 19%);
}
.btn-count:active {
     box-shadow: inset 2px 2px 2px rgba(255,255,255,.1),
     inset -2px -5px 15px rgba(0,0,0,.5);
}

.counter {
     border-radius: 10px;
	outline: none;
	border: none;
	width: 100px;
	text-align: center;
	font-size: 1.2em;
	color: rgb(133, 255, 133);
	margin: 0 10px;
	background: transparent;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,.2),
				inset 2px 5px 15px rgba(0,0,0,.5);
}
.show-counter .left {
     background-color: rgb(85 85 85 / 7%);
     width: 35%;
     padding: 5px 15px;

}
.show-counter .left span {
     color: #FFF;
     font-size: 12px;
     font-weight: bold;

}
.show-counter .left span i{
     color: #FFF;
     font-size: 16px;
}
.show-counter .right {
     background-color: rgb(85 85 85 / 13%);
     width: 65%;
     padding: 5px 15px;

}
/* end counter button */
/* start radio degree */
.btn-group label{
     background-color:#000;
}
.btn-group label:hover {
     background-color: #000000;
}
.active {
     background-color: rgb(0, 255, 72) !important;
}
/* end radio degree */
input[type="submit"] {
     background-color: rgb(3, 209, 61);
     color: #FFF;
     font-size: 16px;
     letter-spacing: 1px;
     margin: 20px 0px;
     padding: 15px 50px;
     outline: none;
     border: none;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}
/* end form inputs */
/* start sidebar */
.sidebar {
     padding: 0px 1rem;
     width: 30%;
}
.summary {
     border: 1px solid rgba(172, 171, 171, 0.618);
     background-color: #FFF;
     border-radius: 10px 10px 0px 0px;
     -webkit-border-radius: 10px 10px 0px 0px;
     -moz-border-radius: 10px 10px 0px 0px;
     -ms-border-radius: 10px 10px 0px 0px;
     -o-border-radius: 10px 10px 0px 0px;
}
.sidebar .summary h6 {
     background-color: #000000;
     padding: 1rem 0px;
     border-radius: 10px 10px 0px 0px;
     -webkit-border-radius: 10px 10px 0px 0px;
     -moz-border-radius: 10px 10px 0px 0px;
     -ms-border-radius: 10px 10px 0px 0px;
     -o-border-radius: 10px 10px 0px 0px;
}
/* end sidebar */
/* start media query */
@media (max-width: 992px) {
     .sidebar {
          display: none;
     }
     .content{
          width: 100%;
     }
}

@media (max-width: 650px) {
     .btn-group label {
          font-size: 12px;
          padding: 0px;
     }
}
/* end media query */

